.image-stack {
  --image-stack--top-offset: 4rem;
  --image-stack--left-offset: 8rem;

  position: relative;
  width: calc(100% - var(--image-stack--left-offset));
  margin-left: var(--image-stack--left-offset);
  margin-bottom: var(--image-stack--top-offset);

  @include lg-down {
    --image-stack--top-offset: 3rem;
    --image-stack--left-offset: 6rem;
  }
  @include md-down {
    --image-stack--top-offset: 2rem;
    --image-stack--left-offset: 4rem;
  }

  &--image-wrapper {
    &:nth-child(2) {
      position: absolute;
      width: 100%;
      height: 100%;
      top: var(--image-stack--top-offset);
      left: calc(-1 * var(--image-stack--left-offset));
    }
  }

  &--image {
  }
}
