@mixin squiggle-vars {
  // $squiggle-stroke-width: 16px;
  // $squiggle-dot-size: 3.75rem;

  --squiggle-dot-size: 3.75rem;
  // --squiggle-stroke-width: 16px;
  --squiggle-stroke-width: 16px;
  --squiggle-color: #{mix($col--accent, $col--charcoal__dark, 75%)};
  --squiggle-background-color: #{mix($col--turf, $col--charcoal__dark, 75%)};

  @include lg-down {
    --squiggle-dot-size: 3.25rem;
    --squiggle-stroke-width: 16px;
  }
}

.squiggle {
  @include squiggle-vars;

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  &--title {
    @include lg-down {
      text-align: center;
    }
  }

  &--dot {
    @include squiggle-vars;

    width: var(--squiggle-dot-size);
    height: var(--squiggle-dot-size);
    min-width: var(--squiggle-dot-size);
    min-height: var(--squiggle-dot-size);

    background-color: var(--squiggle-color);
  }

  &--dot-inner {
    --size: calc(var(--squiggle-dot-size) - (var(--squiggle-stroke-width) * 1.425));
    width: var(--size);
    height: var(--size);
    min-width: var(--size);
    min-height: var(--size);
  }

  &--child {
    @include squiggle-vars;
    padding-bottom: 0rem !important;

    position: absolute;

    height: var(--pitch-height, 200vh);
    pointer-events: none;

    // .cls-1 {
    //   fill: none;
    //   stroke: rgba($col--accent, 0);
    //   stroke-width: var(--squiggle-stroke-width);
    // }

    // .cls-1 ~ .cls-1 {
    //   stroke: rgba($col--accent, 0.5);
    // }

    @at-root .squiggle--child--1 .cls-1 {
      fill: none;
      stroke: var(--squiggle-background-color);
      stroke-width: calc(var(--squiggle-stroke-width) * 0.7);
    }
    @at-root .squiggle--child--2 .cls-1 {
      fill: none;
      stroke: var(--squiggle-color);
      stroke-width: calc(var(--squiggle-stroke-width) * 0.7);
    }
  }
}
