$background--paper: (
  xs: (
    url: "https://cdn.prod.website-files.com/6673386a4f6b7ddc70a5931f/66cdf7350e187d9a441fb7a9_paper_full_320.webp",
    width: 320,
    height: 690,
  ),
  sm: (
    url: "https://cdn.prod.website-files.com/6673386a4f6b7ddc70a5931f/66cdf7350a20fbdc536ec45b_paper_full_640.webp",
    width: 640,
    height: 1380,
  ),
  md: (
    url: "https://cdn.prod.website-files.com/6673386a4f6b7ddc70a5931f/66cdf735a97806b9ebb6000e_paper_full_960.webp",
    width: 960,
    height: 2071,
  ),
  lg: (
    url: "https://cdn.prod.website-files.com/6673386a4f6b7ddc70a5931f/66cdf7359382975ca7143e68_paper_full_1280.webp",
    width: 1280,
    height: 2761,
  ),
  xl: (
    url: "https://cdn.prod.website-files.com/6673386a4f6b7ddc70a5931f/66cdf736b20d43c6ba10f1f6_paper_full_1600.webp",
    width: 1600,
    height: 3452,
  ),
  xxl: (
    url: "https://cdn.prod.website-files.com/6673386a4f6b7ddc70a5931f/66cdf736705ce244dc8b75bb_paper_full_1920.webp",
    width: 1920,
    height: 4142,
  ),
  xxxl: (
    url: "https://cdn.prod.website-files.com/6673386a4f6b7ddc70a5931f/66cdf7369382975ca7143fa3_paper_full_2240.webp",
    width: 2240,
    height: 4832,
  ),
);
