$colors: (
  "accent": #f15d30,
  "accent__hovered": #bf370d,
  "primary": #dfbe9c,
  "primary__light": #f4d9be,
  "primary__lighter": #f8e8d8,
  "primary__lightest": #faf6f0,
  "primary__dark": #54433c,
  "charcoal__darker": #1d1d1d,
  "charcoal__dark": #2c2c2c,
  "charcoal": #363635,
  "charcoal__light": #414141,
  "charcoal__lightest": #565656,
  "turf__dark": #3d3b36,
  "turf": #545044,
  "turf__light": #645f52,
  "turn__lightest": #dad3c0,
  "rust__light": #c9b5ac,
  "rust": #a58574,
);

$col--accent: #f15d30;
$col--accent__hovered: #bf370d;
$col--primary: #dfbe9c;
$col--primary__light: #f4d9be;
$col--primary__lighter: #f8e8d8;
$col--primary__lightest: #faf6f0;
$col--primary__dark: #54433c;
$col--charcoal__darker: #1d1d1d;
$col--charcoal__dark: #2c2c2c;
$col--charcoal: #363635;
$col--charcoal__light: #414141;
$col--charcoal__lightest: #565656;
$col--turf__dark: #3d3b36;
$col--turf: #545044;
$col--turf__light: #645f52;
$col--turf__lightest: #dad3c0;
$col--rust__light: #c9b5ac;
$col--rust: #a58574;
