@font-face {
  font-family: "Arrus";
  src: url("https://fnci.ca/wp-admin/fonts/arrus/arrus-bt-bold-italic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Arrus";
  src: url("https://fnci.ca/wp-admin/fonts/arrus/arrus-bt-bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Arrus";
  src: url("https://fnci.ca/wp-admin/fonts/arrus/arrus-bt-italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Arrus";
  src: url("https://fnci.ca/wp-admin/fonts/arrus/arrus-bt-roman.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Neuething Sans";
  src: url("https://fnci.ca/wp-admin/fonts/neuething-sans/NeuethingSans-variableVF-1.ttf") format("truetype");
  font-weight: 1 999;
  font-stretch: 50% 200%;
}

@font-face {
  font-family: "Lato";
  src: url("https://fnci.ca/wp-admin/fonts/lato/Lato-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  src: url("https://fnci.ca/wp-admin/fonts/lato/Lato-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "Lato";
  src: url("https://fnci.ca/wp-admin/fonts/lato/Lato-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  src: url("https://fnci.ca/wp-admin/fonts/lato/Lato-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Lato";
  src: url("https://fnci.ca/wp-admin/fonts/lato/Lato-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Lato";
  src: url("https://fnci.ca/wp-admin/fonts/lato/Lato-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  src: url("https://fnci.ca/wp-admin/fonts/lato/Lato-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Lato";
  src: url("https://fnci.ca/wp-admin/fonts/lato/Lato-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  src: url("https://fnci.ca/wp-admin/fonts/lato/Lato-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  src: url("https://fnci.ca/wp-admin/fonts/lato/Lato-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}
