$graphic--treads: (
  url: url("https://cdn.prod.website-files.com/6673386a4f6b7ddc70a5931f/66ccfb9bdd1d93696b772a07_treads.svg"),
  width: 2186,
  height: 161,
);


$graphic--topo: (
  url: url("https://cdn.prod.website-files.com/6673386a4f6b7ddc70a5931f/66ce2f445b4668083553695a_topography_flair.svg"),
  width: 813,
  height: 583,
);
