#about {
  &--hero {
    height: calc(90vh - var(--nav-height));
    @include pad-y-important(6rem, 9rem);

    @include lg-down {
      height: auto;
      @include pad-y-important(6rem, 8rem);
    }
    @include md-down {
      @include pad-y-important(var(--site-top-pad), 5rem);
    }

    .torn-split-section {
      &--container {
        height: 100%;

        @include lg-up {
          @include flex-row;
        }

        @include lg-down {
          gap: 3rem !important;
        }
        @include md-down {
          gap: 2rem !important;
        }
      }

      &--graphic {
        @include lg-up {
          @include marg-y(unset);
          height: unset;
        }

        @include lg-down {
          order: 0;
          height: 100%;
        }
      }

      &--image-wrapper {
      }

      &--image {
        video {
          position: relative;
          inset: unset;
        }
      }

      &--body {
        @include lg-down {
          order: 1;
        }

        br {
          @include lg-down {
            display: none;
          }
        }

        h4,
        p {
          @include lg-down {
            @include text--body;
            margin-top: 1rem !important;
          }
        }
      }
    }
  }
  &--brotherhood {
    @include text-section-left;

    h3 {
      @include lg-up {
        @include text--h3;
        max-width: 22ch;
      }
    }
  }
  &--journey {
    @include lg-down {
      margin-bottom: var(--section-pad);
    }
  }
  &--genesis {
    margin-top: 0rem;
  }
  &--crafting {
  }
  &--founders {
    padding-bottom: var(--section-pad);

    h3 {
      @include md-down {
        text-align: left;
        margin-right: auto;
      }
    }
  }
  &--careers {
    p {
      @include md-up {
        @include text--body;
        max-width: 50ch;
      }
    }
  }
  &--form {
    overflow: unset;
    padding-bottom: var(--section-pad);

    .split-section--container {
      @include lg-down {
        display: grid !important;

        @include safari {
          display: flex !important;
          flex-direction: column;
        }
      }
    }
    .split-section--body {
      width: 100%;
    }

    .signup {
      width: 100%;

      &--form-wrapper {
        width: 100%;
      }
    }

    [class*="container"] {
      @include lg-down {
        gap: 2rem !important;
      }
      & > * {
        width: 100%;
      }
    }
  }
}
