#bootcamp {
  &--hero-group {
    @include lg-down {
      padding-top: 0rem;
    }
  }
  &--hero {
    @include lg-down {
      margin-top: 0rem;
      padding-top: 0rem;
    }

    .container__wide {
      @include lg-up {
        gap: 2rem !important;
      }

      margin: 0rem;
      width: 100%;
      max-width: unset;

      @include lg-down {
        // gap: 1.65rem;
        gap: 2.25rem;
      }
    }

    .split-head-content {
      &--image {
        // @extend %container__wide;
        overflow: hidden;
        @include mx-auto;
        height: 75vh !important;

        @include lg-down {
          border-top-left-radius: unset !important;
          border-top-right-radius: unset !important;
          border-bottom-left-radius: var(--border-radius) !important;
          border-bottom-right-radius: var(--border-radius) !important;
          width: 100% !important;
          max-width: unset;
          margin: 0rem;
          height: 60vh;
        }
        @include md-down {
          height: 40vh;
        }

        & > * {
          border-radius: unset !important;
        }

        img {
          @include lg-down {
            border-top-left-radius: 0rem;
            border-top-right-radius: 0rem;
          }
        }
      }

      &--heading {
        @extend %container__wide;
        @include mx-auto;

        @include lg-down {
          order: 1;
          @include flex-col;
          justify-content: flex-start;
          text-align: left;
          margin-bottom: 0rem;
        }

        & > * {
          @include lg-down {
            margin: 0rem;
            margin-right: auto;
          }
          @include sm-down {
            margin: 0rem;
            margin-right: auto;
          }
        }
      }
      &--body {
      }
    }
  }

  &--statement {
    @include text-section-left;

    .container {
      @include text--h3;
      @include md-up {
        max-width: 22ch;
      }
      @include sm-up {
        max-width: 21ch;
      }

      p {
        @include text--body;
        max-width: 65ch;
      }
    }
  }
  &--leaders {
    @include text-section-left;
    h3 {
      margin-bottom: 2rem;
    }
  }
  &--masonry {
  }
  &--expand {
    @include text-section-left;
    h3 {
      @include text--h3;
      max-width: 16ch;
    }
    p {
      @include text--body;
      max-width: 60ch;
    }
  }
  &--tools {
  }
  &--not-everyone {
    @include text-section-left;
  }
  &--scroll {
  }
  &--form {
    @include paper-background;
    @include lg-down {
      padding-top: var(--border-radius)!important;
    }

    .split-section--container {
      @include tread-background {
        --tread--rotation: 16deg;
        --tread--transform-y: -20rem;
      }
      @include lg-down {
        // display: grid !important;
        display: flex !important;
        flex-direction: column;
      }
    }
    .split-section--body {
      width: 100%;
    }

    .signup {
      width: 100%;

      &--form-wrapper {
        width: 100%;
      }
    }

    [class*="container"] {
      @include lg-down {
        gap: 2rem !important;
      }
      & > * {
        width: 100%;
      }
    }
  }
}
