#membership {
  &--hero {
    height: auto;
    @include pad-y(6rem);
    padding-bottom: 8rem;
    overflow: hidden;

    @include xl-down {
      @include pad-y(0rem);
      padding-bottom: 6rem;
    }

    .torn-split-section {
      &--container {
        --gap: 6rem;
        gap: var(--gap);

        @include xl-up {
          @include flex-row;
        }

        @include xl-down {
          --gap: 3rem;
          width: 100%;
          max-width: unset;
          grid-template-columns: 1fr;
        }

        h1 {
          @include xl-up {
            white-space: nowrap;
          }
          br {
            @include xl-down {
              display: none;
            }
          }
        }
        h4 {
          max-width: 60ch;
          @include xl-down {
            margin-top: 0.5rem !important;
            margin-bottom: 1.75rem !important;
          }
        }
      }

      &--graphic {
        @include lg-up {
          height: unset !important;
          @include marg-y(unset);

          & > * {
            transform: translateY(-3rem);
          }
        }

        @include xl-down {
          order: 0;
        }

        .value-highlight {
          &--row {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            top: 100%;
            @include xl-down {
              display: none !important;
            }
          }
        }
      }
      &--body {
        @include xl-down {
          order: 1;
          max-width: var(--site-max-width_wide);
          @include mx-auto;
          width: 100%;
        }
      }

      &--value-highlight {
        @include gap;
        --gap: 4rem;

        @include xl-down {
          order: 3;
          display: flex !important;
          max-width: var(--site-max-width_wide);
          @include mx-auto;
          width: 100%;

          justify-content: flex-start;
          flex-wrap: wrap;
        }

        @include lg-down {
          --gap: 2rem;
          margin-top: 1rem;
        }

        & > * {
          @include md-down {
            width: 100%;
          }
        }
      }

      &--image-wrapper {
        @include lg-down {
          height: 30vh;
        }

        img {
          @include xl-down {
            border-top-left-radius: unset;
            border-top-right-radius: unset;
          }
        }
      }
    }
  }

  &--benefits {
    $icons: (
      "exclusive": (
        url: "https://cdn.prod.website-files.com/6673386a4f6b7ddc70a5931f/66ce190d72f369942ec0d59d_benefits--goods_640.webp",
        width: 640,
        height: 640,
      ),
      "priority": (
        url: "https://cdn.prod.website-files.com/6673386a4f6b7ddc70a5931f/66ce190d569e73ca123f880c_benefits--priority_640.webp",
        width: 640,
        height: 640,
      ),
      "brotherhood": (
        url: "https://cdn.prod.website-files.com/6673386a4f6b7ddc70a5931f/66ce190d320dbf9376b41d12_benefits--brotherhood_640.webp",
        width: 640,
        height: 640,
      ),
    );

    .section {
      &--container {
        --gap: 3rem !important;
      }
    }

    .value-highlight {
      // position: relative;
      @include flex-col;
      &--graphic {
        @include flex-col-center;
        background-color: unset;
        position: relative;
        margin-bottom: -1rem;
        z-index: 1;
      }

      &--icon {
        // @include mask;
        // @include s;
        // --size: 5rem;
        // object-fit: contain;
        // object-position: center;
        // background-color: $col--primary__dark;
        // margin: auto;

        --size: 5rem;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        width: var(--size);
        height: var(--size);
        transform: scale(1.25);

        @each $name, $values in $icons {
          $url: map-get($values, "url");
          $width: map-get($values, "width");
          $height: map-get($values, "height");
          &.#{$name} {
            background-image: url($url);
            aspect-ratio: #{$width} / #{$height};
          }
        }
      }

      &--inner {
        z-index: 0;
        position: relative;
        flex: 1;
      }
    }
  }

  &--what-it-means-group {
    padding-top: 0rem;
    &::after {
      background-color: $col--charcoal__dark;
    }
  }

  &--scroll-video {
    h3 {
      @include lg-down {
        text-align: left;
      }
    }
  }

  &--next-steps {
    .section {
      &--container {
        @include lg-down {
          flex-wrap: wrap;
        }

        & > * {
          @include lg-down {
            width: 100%;
          }
        }
      }
    }
  }
  &--masonry {
  }
  &--application {

    #application-form{
      overflow: hidden;
    }

    @include topography-background;


    [class*="container"] {
      padding-top: calc(var(--section-pad) - var(--border-radius)) !important;
      @include lg-down {
        gap: 2rem !important;
        padding-top:0rem!important;
      }
      & > * {
        width: 100%;
      }
    }
  }
}
